{% load static %}


  <!--Picturi pe panza-->
  <div class="row-grid">
    <div class="portofoliu-category">
      <a href="{% url 'portofoliu_picturi' %}">
        <img src="{% static 'images/picturi-panza.jpg' %}" alt="Picturi pe pânză">
        <div class="portofoliu-titlu">Portrete in ulei</div>
      </a>
    </div>
  

  <!--Portrete in ulei-->
    <div class="portofoliu-category">
      <a href="{% url 'portofoliu_portrete' %}">
        <img src="{% static 'images/portrete-ulei.jpg' %}" alt="Portrete în ulei">
        <div class="portofoliu-titlu">Portrete în ulei</div>
      </a>
    </div>
  

  
  <!--portrete in creion-->
    <div class="portofoliu-category">
      <a href="{% url 'portofoliu_creion' %}">
        <img src="{% static 'images/portrete-creion.jpg' %}" alt="Portrete în creion">
        <div class="portofoliu-titlu">Portrete în creion</div>
      </a>
    </div>
  

  <!--ilustratii-->
    <div class="portofoliu-category">
      <a href="{% url 'portofoliu_ilustratii' %}">
        <img src="{% static 'images/illustration.jpg' %}" alt="Ilustrații digitale">
        <div class="portofoliu-titlu">Ilustrații digitale</div>
      </a>
    </div>
  

  
  <!--NFT-uri-->
    <div class="portofoliu-category">
      <a href="{% url 'portofoliu_nft' %}">
        <img src="{% static 'images/nft-art.jpg' %}" alt="NFT-uri și artă digitală">
        <div class="portofoliu-titlu">NFT-uri & artă digitală</div>
      </a>
    </div>
  </div>

</div>
