# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Environment
.env
*.env

# Django stuff:
*.sqlite3
db.sqlite3
media/
staticfiles/
*.log

# VS Code
.vscode/

# Secret settings
settings_local.py

# Ignoră fișierele media și statice
static/
node_modules/

# Ignora folderul cu imagini
tablouri/

# Fișiere de configurare suplimentare
config.json

# Fișiere temporare și de backup
*.bak
*.tmp

# Fișiere generate de macOS
.DS_Store

# Fișiere de build sau cache
dist/
build/
