# Fișiere sensibile
.env
config.json
db.sqlite3
*.pyc
__pycache__/
*.log

# Fișiere media și statice
media/
staticfiles/
tablouri/

# Fișiere și directoare specifice IDE-urilor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Fișiere generate de sistem
.DS_Store
Thumbs.db

# Excludem fișierele de backup
*.bak
*.tmp
*.swp
*.docx
