{% extends 'portofoliu_galerie/base.html' %}

{% block title %}Galerie{% endblock %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/theme.css' %}">
<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
{% endblock %}

{% block content %}

    <h1>Galeria mea</h1>
    <p>Aici vor fi afișate toate lucrările</p>

    

    <div class="gallery-container">
        {% for tablou in tablouri %}
            {% include 'galerie/includes/gallery_item.html' with tablou=tablou %}
        {% empty %}
            <p>Nu există tablouri disponibile.</p>
        {% endfor %}
    </div>
    
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/theme-toggle.js' %}"></script>"
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}

