{% extends 'portofoliu_galerie/base.html' %}

{% block title %}Despre mine{% endblock %}

{% block content %}
    <h1>Despre mine</h1>
    <p>Aici voi scrie informatii despre mine.</p>


    <blockquote class="motto">
        „Creativitatea nu are limite, doar noi ne impunem bariere.”
    </blockquote>

    <div class="about-container">
        <h1>Cine sunt eu?</h1>
        <img src="/static/images/470585730_profil.jpg" alt="Despre mine" class="profile-img">
        <p>M-am născut și am crescut într-un sat din inima Moldovei, unde lumea era simplă, dar plină de povești. De mic, nu exista suprafață pe care să n-o transform într-o pânză – paginile cărților tatălui meu, pereții casei, podeaua rece pe care mă întindeam să desenez. Biroul nu era pentru mine, aveam nevoie de spațiu, de libertate, de senzația că ideile mele curg fără restricții.</p>
    
        <p>Talentul meu a fost repede observat și îndrumat către Școala Generală <strong>Nicolae Tonitza</strong> din Bârlad, unde am început să îmi conturez drumul artistic. Liceul de arte plastice a fost următorul pas firesc – o perioadă în care am explorat, am experimentat și am învățat ce înseamnă cu adevărat să creezi.</p>
    
        <p>Însă, într-un colț al minții mele, începea să prindă rădăcini o altă pasiune: <strong>programarea</strong>. La început, părea complet diferită de lumea artei – un univers al logicii, al structurilor clare și al codului precis. Dar cu timpul, am realizat că și programarea este o formă de creație, o artă în sine.</p>
    
        <p>Astăzi, îmi dedic timpul ambelor lumi: pictez emoții pe pânză și construiesc idei în cod. Îmbin arta și tehnologia, combinând cele două emisfere aparent opuse ale creierului. Nu cred în limite – creativitatea și logica pot coexista și se pot potența reciproc.</p>
    
        <p>Fie că este vorba de un tablou, un site sau un proiect digital inovator, scopul meu este să creez ceva unic, ceva care să inspire.</p>
    </div>
    
    

    <h2>Ce pot face</h2>
    <ul class="skills">
        <li>Pictură & Arte vizuale</li>
        <li>Programare Full-Stack</li>
        <li>Dezvoltare de platforme</li>
        <li>Crearea NFT-urilor</li>
    </ul>

    
</div>
{% endblock %}